# Dependencies
node_modules/
.pnpm-store/

# Build and Outputs
dist/
build/
coverage/

# Environment and Secrets
.env
.env*.local
.env.production
.env.development
!.env.example

# Logs & Temporary files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
